
<div class="row">
    <div class="container col-md-12" style="padding-bottom: 100px;">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
            <a class="navbar-brand" href="#"><strong><h3> Gallery</h3></strong></a>
            <button class="navbar-toggler btn btn-outline-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a routerLink = "/image/list" class="nav-link"><h6>Home</h6></a>
                        
                    </li>
                    <li class="nav-item active">
                        <a routerLink = "/image/upload" class="nav-link"><h6>Upload image</h6></a>
                    </li>
                </ul>
            </div>
        </nav>

    </div>
  </div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>

<!-- Footer -->
<footer class="page-footer font-small blue pt-4">
    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">
          <h5>Art Gallery Modelling</h5>
          <h6>Cirrus Logic</h6>
        </div>
      </div> 
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        <h6>© 2020 Copyright: <a href="https://www.linkedin.com/in/akashkhiste/" target="_blank">Akash Khiste</a></h6>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
